*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.navbar{
    height: 4em;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.166);

}
/* logo başlangıç */
.navbar-brand span{
    color: rgb(0, 0, 0);
    letter-spacing: .1rem;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Inspiration', cursive;
}
/* logo son */

#collapsibleNavbar{
    text-align: center;
    background-color:transparent;

}

/* menü çubuğu linkleri */
.nav-link{
    color: rgb(0, 0, 0) !important;
    font-size: 15px;
    font-weight:  400;  
}
#hero{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    height: 100vh;/* Yıldız */
    width: 100%;
    background-image: url("sahil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    filter: brightness(70%)/*opaklık*/
}
@media screen and (max-width:915px) {
    #hero{
    width: 100%;
    background-position: left;
   
    }
    #isim{
        text-align: end;
    }
}   

#isim{
    text-align: center;
    font-weight: lighter;
    font-size: 2.3rem;
    border:1px solid gray;
    padding:20px;
    border-radius: 5px;

}