
.logo {
    font-family: 'Inspiration', cursive;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;

}

/*Menü çubuğu ana gövde*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #000000;
    position: fixed;
    height: 100vh;
    overflow: auto;
}
/*Menü çubuğu link içerikleri(bağlantılar)*/
.sidebar a {
    color: whitesmoke;
    padding: 35px;
    text-decoration: none;
    justify-content: center;
    display: block;
    margin: 0px 0 10px 0 ;
}
/*ikonlar*/
.sidebar a i {
    padding: 15px;
    display: flex;
    justify-content: center;
}
/*ikon başlıkları*/
.sidebar a p {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: medium;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    letter-spacing: 1px;

}
/*Hover efekt*/
.sidebar a:hover:not(.active) {
    transition: .4s ease-out;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*sectionOne*/
#sectionone {
    justify-content: center;
    display: flex;
    margin-left: 100px;
    padding-top: 5em;
    height: 100vh;
    background-image: url("ak.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

}
#sectionone p{
    text-align: center;
    font-family: 'Zen Loop', cursive;
    letter-spacing: 0.75rem;
    font-weight: normal;
    font-size: 50px;
    color: white;
    position: absolute;
}
#sectionone p:nth-child(2){
    font-size: 20px;
    letter-spacing: 0.5rem;
    padding: 4em;
    justify-content: center;
    display: flex;
    position: relative;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        bottom: 0 !important ; 
        justify-content: space-between;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .sidebar a {
        float: left;
        padding: 8px;
        margin: 0;        
    }

    #sectionone {
        margin-left: 0;
        background-position: bottom right;
    }
    .sidebar a p{
        display: none !important;
    }
    #sectionone p:nth-child(2){
        padding-top: 150px;
        font-size: 16px;
        letter-spacing: 0.3rem;
    }
    
}
/* 

@media screen and (max-width: 300px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

 */
